<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Authors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

</head>
<body>
    <div class="container">
        <div  style="margin-left: 5%">
            <h2>Author Details</h2>
            {{#author}}        

               <ul>
                     <li><label class="form-label">Author</label></li>
                    <input type="text" value="{{author}}" readonly>
          
				</ul>
				<ul>	
                     <li><label class="form-label">Nationality</label></li>
                    <input type="text" value="{{nationality}}" readonly>
				</ul>
				<ul>      
					 <li><label class="form-label">Birth Year</label></li>
                    <input type="text"  value="{{birth_year}}" readonly>
				</ul>    
				<ul>      
					 <li><label class="form-label">Fields</label></li>
                    <input style="widht:200px" type="text" value="{{fields}}" readonly>
				</ul>
        <h3>Books </h3>
		<ol class="d">
			<li>
				{{author2}}
			</li>
			<li>		
				{{author3}}
			</li>
		</ol>
        <a href="/" class="btn btn-outline-dark">Go back to Main Page</a></center>
        {{/author}}
	</div>
        </div>
</body>